/.vs/CheckPoint/FileContentIndex/181a90d4-7013-4639-8ec1-720ce4e42948.vsidx
/.vs/CheckPoint/FileContentIndex/298f979c-ccf1-4f4d-8331-427604f542a7.vsidx
/.vs/CheckPoint/FileContentIndex/read.lock
/.vs/CheckPoint/v17/Browse.VC.db
/.vs/CheckPoint/v17/Browse.VC.db-shm
/.vs/
/.vs/CheckPoint/v17/Browse.VC.opendb
/CheckPoint.sln
/CheckPoint.vcxproj
/CheckPoint.vcxproj.filters
/CheckPoint.vcxproj.user
/X64